@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:wght@300&family=Pacifico&display=swap");
$w-color: #e0dfdb;
$b-color: #1b273f;
$o-color: #bc8258;
$o-lt-color: #f2e1cd;
$g-color: #bcb07d;

body {
    margin: 0% 10% 0% 10%;
    padding: 0;
}
.back-img {
    width: 137.5%;
    position: absolute;
    z-index: -1;
    margin-left: -25%;
}
header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.title {
    position: absolute;
    color: $b-color;
    font-size: 140px;
    font-family: "Pacifico", cursive;
    margin: 0;
}
.subtitle {
    padding-top: 50px;
    color: $b-color;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 65px;
}
.text {
    color: $b-color;
    font-size: 25px;
    font-family: "Jost", sans-serif;
    margin: 0;
}
.data img {
    height: 25px;
}
.data {
    color: $b-color;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.data-cube {
    background-color: $b-color;
    height: 30px;
    width: 150px;
    opacity: 35%;
    display: flex;
    border-bottom: 1px $b-color solid;
}
.clear {
    margin-top: -60px;
    display: flex;
    align-items: flex-end;
    background-color: $b-color;
    height: 150px;
    width: 30px;
    opacity: 35%;
    margin-left: 800px;
}
.clear img {
    height: 25px;
}
